
exercicio_preco_copy_sort_import/dados/__pycache__/__init__.cpython-311.pyc
exercicio_preco_copy_sort_import/dados/__pycache__/produtos_modulo.cpython-311.pyc
projeto_classes/__pycache__/eletronico.cpython-311.pyc
*.pyc
